Node Server/Node Server.txt
[{"id":"41c01ac1.7b1d74","type":"ui_button","z":"635dff9e.45137","name":"","group":"cc7995d8.b64e78","order":2,"width":0,"height":0,"passthru":false,"label":"Up","color":"","bgcolor":"","icon":"","payload":"U","payloadType":"str","topic":"","x":270,"y":100,"wires":[["37963e2f.bfac02"]]},{"id":"f8525ed3.2c668","type":"ui_button","z":"635dff9e.45137","name":"","group":"b2fc8ff2.46599","order":2,"width":0,"height":0,"passthru":false,"label":"Left","color":"","bgcolor":"","icon":"","payload":"L","payloadType":"str","topic":"","x":90,"y":160,"wires":[["37963e2f.bfac02"]]},{"id":"145a614a.d8cb9f","type":"ui_button","z":"635dff9e.45137","name":"","group":"f23ece9.7a0a73","order":0,"width":0,"height":0,"passthru":false,"label":"Right","color":"","bgcolor":"","icon":"","payload":"R","payloadType":"str","topic":"","x":450,"y":160,"wires":[["37963e2f.bfac02"]]},{"id":"7a3a22be.e6f69c","type":"ui_button","z":"635dff9e.45137","name":"","group":"cc7995d8.b64e78","order":3,"width":0,"height":0,"passthru":false,"label":"Down","color":"","bgcolor":"","icon":"","payload":"D","payloadType":"str","topic":"","x":270,"y":160,"wires":[["37963e2f.bfac02"]]},{"id":"37963e2f.bfac02","type":"debug","z":"635dff9e.45137","name":"","active":true,"console":"false","complete":"false","x":530,"y":320,"wires":[]},{"id":"9dfa301.cd7dcd","type":"ui_button","z":"635dff9e.45137","name":"","group":"cc7995d8.b64e78","order":4,"width":0,"height":0,"passthru":false,"label":"Stop","color":"","bgcolor":"","icon":"","payload":"S","payloadType":"str","topic":"","x":130,"y":300,"wires":[["37963e2f.bfac02"]]},{"id":"1c7a595f.72c017","type":"ui_template","z":"635dff9e.45137","group":"cc7995d8.b64e78","name":"template","order":1,"width":"6","height":"11","format":"\n    <p>streaming</p>\n    <iframe src=\"http://192.168.0.112:8081/\" height = \"480\" width = \"640\"></iframe>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":860,"y":200,"wires":[[]]},{"id":"adf27b66.ba6648","type":"ui_template","z":"635dff9e.45137","group":"b2fc8ff2.46599","name":"","order":1,"width":"6","height":"11","format":"","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":860,"y":60,"wires":[[]]},{"id":"260c7561.0096ba","type":"ui_template","z":"635dff9e.45137","group":"f23ece9.7a0a73","name":"","order":1,"width":"6","height":"11","format":"","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":860,"y":120,"wires":[[]]},{"id":"cc7995d8.b64e78","type":"ui_group","z":"","name":"Up-Down","tab":"c6d0c4d2.e8d208","order":2,"disp":true,"width":"6"},{"id":"b2fc8ff2.46599","type":"ui_group","z":"","name":"left","tab":"c6d0c4d2.e8d208","order":1,"disp":true,"width":"6"},{"id":"f23ece9.7a0a73","type":"ui_group","z":"","name":"Right","tab":"c6d0c4d2.e8d208","order":3,"disp":true,"width":"6"},{"id":"c6d0c4d2.e8d208","type":"ui_tab","z":"","name":"key","icon":"dashboard"}]